
.about-svg__container{
  svg{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      opacity: .10;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 0;
  }
}


