.icon {
    position: relative;
    display: block;
    max-width: 100%;

    > svg {
        position: absolute;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: block;
        fill: currentColor;
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        width: auto;
    }
}

.icon--twitter {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--linkedin {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--github {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--email {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--craft {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--css3 {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--git {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--html5 {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--js {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--php {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--sass {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--tailwind {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--wordpress {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--tailwind {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--twig {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--html-tag {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--react {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}
.icon--netlify {
    width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--instagram {
  width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--logomark {
  width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--mysql {
  width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--pwa-logo {
  width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

.icon--tailwindcss-icon {
  width: rem(18px);
    &:after {
        padding-bottom: 83.33333333333334%;
    }
}

