@font-face {
    font-family: openSans;
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'), 
      url('../../fonts/OpenSans-Regular.woff') format('woff');
  }

@font-face {
    font-family: roboto;
    src: url('../../fonts/Roboto-Regular.woff2') format('woff2'), 
      url('../../fonts/Roboto-Regular.woff') format('woff');
}