
// FEATURED WORK TEASER
.teaser-featured-work__container {
  @apply bg-grey-900 mb-8;
  border: #111517 solid;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
  transition: transform 300ms ease;
  @screen lg{
    @apply mr-8 mb-0;
  }

  &:hover {
    transform: translateY(-2%);
  }
}

// TESTIMONIAL TEASER
.testimonial__container{
  @apply bg-white p-8;
  border-radius: 5px;
  border-width: 0px;
  border: #111517 solid;
  transition: transform 300ms ease;
}

.testimonial-teaser-slide{
  height: auto!important;
}

// WORK WITH TEASER
.teaser-work-with__container{
  display: flex;
  @apply bg-white p-4;
  border: #111517 solid;
  height: 200px;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
  transition: transform 300ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.teaser-work-with__container:hover ~ .teaser-work-with__span {
  transform: scale(1.05);
}

.teaser-work-with__span {
  border: #111517 solid;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
    padding: 6px;
    background-color: #f5f5f5;
}

.teaser-work-with__span {
  &:hover {
    transform: scale(1.05);
  }
}

