
// FEATURED WORK TEASER
.teaser-featured-work__container {
  @apply bg-grey-900 mb-8;
  border: #111517 solid;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
  transition: transform 300ms ease;
  @screen lg{
    @apply mr-8 mb-0;
  }

  &:hover {
    transform: translateY(-5%);
  }
}

// TESTIMONIAL TEASER
.testimonial__container{
  @apply bg-white p-8;
  border-radius: 5px;
  border-width: 0px;
  border: #111517 solid;
  transition: transform 300ms ease;
}