
// FEATURED WORK TEASER
.teaser-featured-work__container {
  @apply bg-grey-900 mb-8;
  height: 480px;
  border: #111517 solid;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
  transition: transform 300ms ease;

  @screen md {
    height: auto;
  }

  @screen lg{
    @apply mr-8 mb-0 w-1/3;
  }

}

.teaser-featured-work__content {
  display: grid;
}

.teaser-featured-work__img-container {
  border-radius: 5px 5px 0 0;
}

.teaser-featured-work__img {
  padding: 5px;
}

// TESTIMONIAL TEASER
.testimonial__container{
  @apply bg-white p-8;
  border-radius: 5px;
  border-width: 0px;
  border: #111517 solid;
  transition: transform 300ms ease;
}

.testimonial-teaser-slide{
  height: auto!important;
}

// WORK WITH TEASER
.teaser-work-with__container{
  display: flex;
  @apply bg-white p-4;
  border: #111517 solid;
  height: 200px;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
  transition: transform 300ms ease;
}

.teaser-work-with__span {
  border: #111517 solid;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0px 4px 12px rgba(17, 21, 23, 0.7);
    padding: 6px;
    background-color: #f5f5f5;
}

// Teaser Featured Work Main

//HERO PROJECT
.hero-project__container {
  display: flex;
  width: 100%;

  .project-img__container {
    width: 66.666667%;
    img {
      object-fit: contain;
    }
  }

  .caption__container {
    width: 33.333333%;
    justify-content: center;
    align-items: center;
  }
}

// SMALL PROJECT
.small-project__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  // padding-right: 1rem;

  .project-img__container {
    width: 100%;
    img {
      object-fit: cover;
    }
  }

  .caption__container {

  }
}





