i {
  font-style: normal!important;
}

em {
  font-style: normal!important;
}

.header-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


.section-video {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.section-video video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

// TEXT CHANGE ANIMATION


.cd-headline {
  font-size: 4rem;
}

.cd-subhead {
  font-size: 3.5rem;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}


/* --------------------------------

xrotate-2

-------------------------------- */
// .cd-headline.rotate-2 .cd-words-wrapper {
//   perspective: 300px;
// }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
  display: inline-block;
  backface-visibility: hidden;
}
.cd-headline.rotate-2 i {
  transform-style: preserve-3d;
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}
.is-visible .cd-headline.rotate-2 i {
  opacity: 1;
}
.cd-headline.rotate-2 i.in {
  animation: cd-rotate-2-in 0.4s forwards;
}
.cd-headline.rotate-2 i.out {
  animation: cd-rotate-2-out 0.4s forwards;
}
.cd-headline.rotate-2 em {
  transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
  transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .cd-headline.rotate-2 i em {
  transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1;
}

@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-90deg);
  }
}
