.header {
  @apply fixed w-full pt-4;
  z-index: 1000;
  transition: 600ms ease;
  background-color: transparent;
  .g-nav__link{
    transition: 600ms ease;
  }
  .header-wrapper {
    transition: transform 600ms ease;
  }
  &.on-scroll {
    height: 35px;
    background-color: rgba(0, 0, 0, 1);
    .header-wrapper {
      transform: translateY(-35%);
    }
    @screen lg{
      height: 40px;
      background-color: rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 8px 1px rgba(17, 21, 23, 0.7);
      .g-nav__link{
        font-size: 1rem;
      }
    }
    .o-burger {
      transform: scale(0.8);
    }
  }
}

.o-burger{
  transition: 300ms;
}
