.header {
  @apply fixed w-full pt-4;
  z-index: 1000;
  transition: 600ms ease;
  background-color: transparent;
  .g-nav__link{
    transition: 600ms ease;
  }
  .header-wrapper {
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }
  &.on-scroll {
    height: 35px;
    background-color: rgba(0, 0, 0, 1);
    padding-top: 0;
    a {
      color: white!important;
    }
    @screen lg{
      height: 50px;
      background-color: rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 8px 1px rgba(17, 21, 23, 0.7);
      .g-nav__link{
        font-size: 1rem;
      }
    }
    .o-burger {
      transform: scale(0.8);
    }
  }
}

.o-burger{
  transition: 300ms;
}

.wrapper-90 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--not-top {
  transform: translateY(0%);
  .hamburger-inner {
    &,
  &::before,
  &::after {
    background-color: white!important;
  }
  }
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.g-nav.is-open {
  a {
    color: white;
  }
}
