.hero-section__container {
  width: 95%;
  margin: auto;
}

.fullviewport-bg {
  background-color: #29335C;
}

.arthur-conan-bg {
  background-color: #3ACCE1;
}

.paincave-bg {
  background-color: #4A0013;
}

.digital-barriers-bg {
  background-color: #26304B;
}

.knightcf-bg {

}
