.hero-section__container {
  width: 95%;
  margin: auto;
}

.fullviewport-bg {
  background-color: #29335C;
}

.arthur-conan-bg {
  background-color: #3ACCE1;
}

.paincave-bg {
  background-color: #4A0013;
}

.digital-barriers-bg {
  background-color: #26304B;
}

blockquote {
  &:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  }
  &:after {
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
  }
}

.blockquote--black {
  &:before,
  &:after {
    color: #000;
  }
}

.blockquote--white {
  &:before,
  &:after {
    color: #fff;
  }
}
