.footer__menu{
    overflow: hidden;
    font-family: 'Montserrat-Bold';
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);

    @screen lg {
    span{
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s
    }

    &:before{
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 700;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        font-family: 'Montserrat-Thin';
    }

    &:hover{
        span{
            webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        &:before{
            webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
  }
}
