/* Nav */

@mixin open {
  @apply h-screen opacity-100 pointer-events-auto visible;
  transition-delay: 0ms;
  transition: opacity 300ms ease;
  position: absolute;
}

// <nav>
.g-nav {
  @apply opacity-0 inset-0 overflow-auto flex pointer-events-none invisible text-center;

  position: fixed;
  // repainting on scroll.
  // see https://www.youtube.com/watch?v=2vFrZXWiwIc
  transform: translateZ(0);
  transition: opacity 300ms ease;

  &.is-open {
    @include open;
  }

  @screen lg {
    @apply opacity-100 ml-auto pointer-events-auto relative items-center h-auto flex visible;
  }
}

// <nav><ul>
.g-nav__list {
  @apply bg-black flex flex-col w-full py-4;

  @screen lg {
    @apply bg-transparent flex-row items-center pt-0 pb-1;
  }
}

.g-nav__link {
  @apply relative text-lg inline-block no-underline py-2 text-white;
  margin: 0px 5px;
  outline: none;
  text-transform: uppercase;

  &:hover {
    color: #29d;
  }

  @screen md {
    @apply border-none p-0;
  }
}

.g-nav__link.page-active {
    color: #29d;
}
